.barber_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
}
.barber_img_div{
   
    aspect-ratio: 1 / 1.3;
}
.about_div{
    margin-right: 5rem;
}
.about_div>div>p{
    font-size: clamp(16px, 10px + 1vw, 24px);
}
.about_div>h1{
    font-size: clamp(1.5rem, 20px + 1vw, 3rem);
    font-weight: 700;
}
.about_div>p{
    position: relative;
    font-size: clamp(16px, 10px + 1vw, 20px);
    margin-bottom: clamp(66.5px,60px + 1vw, 98px);
}
.about_div>p::before{
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    top: 15%;
    bottom: 15%;
    background-color:#C61010 ;

}
@media screen  and (max-width: 1150px) {
    .about{
        display: grid;
        grid-template-columns: auto;
        
        grid-template-rows: auto auto;
    }
    .about_div{
        margin-right: auto;
        margin: auto min(20px, 5%);
    }
}