.hero{
    display: grid;
    align-items: center;
    justify-content: center;
    background: url("../assets/bg-3.png");
    background-position: center;
    background-size: cover;
    height: 30vh;
    padding: 5vw;
}

@media screen and (max-width:992px) {
    .hero{
        justify-content:start;
    }
}
.pricehero>div>p, .price_div>div>p{
    font-size: clamp(.8rem, 10px + 1vw, 24px);
    margin-bottom: 0;
    margin: 0;
    line-height: 0;
}

.pricehero>h1, .price_div>h2{
    margin: 0;
    font-size: clamp(1.5rem, 1rem + 1vw, 2.5rem);
    font-weight: 700;
}


.content{
    margin: auto auto 3rem 1.5rem;
}




.content>table>tr>td:last-child{
    text-align: right;
}

td{
    padding-top: 1rem ;
    padding-bottom: 1rem;
}

.price_div{
   gap: clamp(2.5rem, 2rem + 1vw, 4rem);
   justify-content: space-evenly;


}
.each_container{
    max-width: 370px;
}


@media screen and (max-width:992px) {
    .hero{
        justify-content:start;
    }
  
}

.pricelist_bg{
    position: relative;
    top:-4.2rem;
    min-height: 100vh;
    padding: min(5vw, 2.5rem);
    background:linear-gradient(#091a2ea8, #091a2ea8), url("../assets/IMG-1090.JPG");
    /* filter: opacity(.75); */
    background-size: cover;
    background-position: center;
}


.deals{
    width: fit-content;
}
.border{
    position: relative;
    
    padding-top:min(2vw, 2.5rem);
    padding-bottom:min(2vw, 2.5rem);
    padding-right:min(2vw, 2.5rem);
    padding-left: min(2vw, 2.5rem);
}
.table_div{
    display: flex;   
}

@media screen and (max-width: 750px) {
    .table_div{
        flex-direction: column;
    }
}
.table_div>table{
    width: min(400px, 100%);
   
}
